@font-face {
    font-family: 'ArimaLight';
    src: url(./../fonts/arimamadurai/ArimaMadurai-Light.ttf);
  }
  @font-face {
    font-family: 'ArimaBolt';
    src: url(./../fonts/arimamadurai/ArimaMadurai-SemiBold.ttf);
  }
  *:after {
    font-family: 'Raleway'  ;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

/* homePage */
.homePageLapboard{
    height: 840px;
}
.homePageLapboard__text{
   margin-top: 30px;
}
.homePageLapboard__title{
    font-size: 74px;
    font-weight: 500;
    line-height: 86.88px;
    letter-spacing: 0.067em;
    text-align: left;
    margin: 0;
}
.homePageLapboard__subtitle{
    font-size: 23px;
    font-weight: 500;
    line-height: 28.52px;
    letter-spacing: 0.01em;
    text-align: left;
    width: 686px;
}
.homePageLapboard__inner{
    display: flex;
    justify-content: center;
    padding-top: 125px;
}

/* LapBoardInfo */
.lapBoard_info__inner{
    display: flex;
    background-color: #000;
}
.lapBoard_info{
    background-color: #000;
    height: 625px;
}
.lapBoard__info__text{
    margin-left: 200px;
}
.lapBoard__info__text p{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-align: left;

}
.lapBoard__info__text p:first-child{
    margin: 131px 0px 110px 0px;
}

.lapBoard__info__gif video{
    height: 615px;  
}

/* equipment */
.equipment{
    border: 1px solid #000000;
    margin: 150px 0px;
    max-width: 1515px;
}
.equipment__block1{
    padding: 60px;
}
.equipment__block1 p{
    font-size: 30px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.1em;
    text-align: left;
}
.equipment__block2{
    border-left: 1px solid #000000;
    padding: 60px 50px;
}
.equipment__inner{
    display: flex;
}
ul li{
font-size: 22px;
font-weight: 400;
line-height: 44px;
letter-spacing: 0.1em;
text-align: left;
}
.arrowRight{
    display: flex;
    justify-content: end;
}

/* vigeoLapboard */
.vigeoLapboard video{
    height: 760px;
    position: relative;
    left: -10px;
    width: 100%;
}
.vigeoLapboard{
    margin-bottom: 150px;
}
/* opportunities */
.opportunities__text{
    padding: 60px;
    width: 800px;
    border: 1px solid #000000;
    height: 620px;
}
.opportunities{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.opportunities__text h3{
    font-size: 30px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.1em;
    text-align: left;
}
.opportunities .opportunities__text p{
    font-size: 22px;
    font-weight: 400;
    line-height: 30.8px;
    letter-spacing: 0.1em;
    text-align: left;     
}
.form {
    height: 620px;
}
.opportunities .form form,.opportunities .form {
    position: relative;
    top: 0;

}
.opportunities .form {
    background-color:   #ECECEC;
    top: -50px;
}
.title__form{
    padding-top: 25px!important;
}
.opport__inputForm input{
    background-color: #fff;
}
/* subtitleLapboard */
.subtitleLapboard{
    margin-top: 150px;
    margin-bottom: 250px;
}
.subtitleLapboard__innerFlex{
    display: flex;
    justify-content: center;
}
.subtitleLapboard__block1_mobile {
    display: none;
}
.subtitleLapboard__block1 img{
    width: 750px;
}
.subtitleLapboard__block2__text p{
    font-size: 24px;
    font-weight: 400;
    line-height: 39.2px;
    letter-spacing: 0.1em;
    text-align: left;
    margin-left: 90px;
    margin-top: 40px;
}
.document__mobile {
    display: none;
}
.document{
    display: flex;
    justify-content: end;
    position: relative;
   margin-top: 200px;
}
.document p{
    font-size: 22px;
    font-weight: 500;
    line-height: 38.74px;
    text-align: left;
    width: 125px;
}
.document img{
    width: 130px;
    height: 130px;
}
.FileLapboard{
    transition: 0.15s linear all;
}
.FileLapboard:hover{
    opacity: 0.6;
    cursor: pointer;
}
/* moneyBlock */
.moneyBlock{
    width: 600px;
    font-size: 22px;
    font-weight: 400;
    line-height: 30.8px;
    letter-spacing: 0.1em;
    text-align: left;
    margin-left: 90px;
}
/* head__eventNoneBgs */
.head__eventNoneBgs{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: #6360608f;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
}

/* адаптив */
@media(max-width:1480px) {
    /* homePageLapboard*/
    .container{
        padding: 0 15px;
    }
    .lapBoard_info .container{
        padding: 0;
    }
    .homePageLapboard__img img{
        width: 550px;
    }
    .homePageLapboard__title{
     font-size: 54px;
     line-height: 115%;
    }
    .homePageLapboard__subtitle{
        font-size: 20px;
        width: 600px;
    }
    .homePageLapboard__text{
        width: 600px;
    }
    .btn__form button p{
        margin-top: 15px;
    }
    .btn__form button{
        height: 60px;
        padding-top: 0;
    }

    .lapBoard__info__text


    .subtitleLapboard__inner{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .subtitleLapboard__block1 img{
        width: 500px;
    }
    .subtitleLapboard__block2{
        width: 500px;
        margin-left: 50px;
    }
    .subtitleLapboard{
        margin: 150px 30px 150px 30px;
    }
    .subtitleLapboard__block2__text p{
        font-size: 18px;
        line-height:150%;
        width: 500px;
        margin-left: 0;
    }
    .moneyBlock{
        font-size: 18px;
        width: 500px;
        margin-left: 0;
    }
    .document{
        margin-top: 125px;
    }
    .document p{
        font-size: 18px;
        line-height: 150%;
        margin-right: -20px;
    }
    .document img{
        width: 80px;
        height: 80px;
    }
}
@media(max-width: 1200px) {
    .btn__form {
        display: flex;
        justify-content: center;
        margin-bottom: 35px;
    }
    .homePageLapboard__text {
        width: 560px;
    }
    .homePageLapboard__inner {
        flex-wrap: wrap;
        padding-top: 60px;
    }
    .homePageLapboard__img img {
        width: 570px;
    }
    .lapBoard_info .container {
        padding-top: 20px;
    }
    .lapBoard__info__gif video {
        height: 560px;
    }
    .lapBoard__info__text {
        margin-left: 0px;
    }
    .lapBoard__info__text p:first-child {
        margin: 60px 0 60px 0;
    }
    .equipment {
        margin: 120px 0 60px 0;
    }
    .vigeoLapboard video {
        height: auto;
        position: static;
        width: 80%;
    }
    .vigeoLapboard {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .equipment__block2 {
        padding: 20px 10px;
    }
    .equipment__block1 {
        padding: 20px;
    }
    .container {
        margin-bottom: 120px;
    }
    .opportunities .form {
        right: 0px;
    }
    .opportunities {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .document {
        display: none;
    }
    .document__mobile {
        display: flex;
        justify-content: end;
        position: relative;

    }
    .document__mobile p{
        font-size: 22px;
        font-weight: 500;
        line-height: 38.74px;
        text-align: left;
        width: 125px;
    }
    .document__mobile img{
        width: 130px;
        height: 130px;
    }
    .subtitleLapboard__innerFlex {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }
    .subtitleLapboard__block1 img {
        width: 800px;
    }
    .subtitleLapboard__block2 {
        width: 800px;
        margin-left: 0px;
    }
    
    .moneyBlock {
        font-size: 22px;
        width: 100%;
        margin-left: 0;
    }
    .subtitleLapboard__block2__text p {
        font-size: 22px;
        line-height: 150%;
        width: 100%;
        margin-left: 0;
    }

}

@media(max-width: 995px) {
    .lapBoard__info__gif {
        display: none;
    }
    .lapBoard_info {
        height: 100%;
    }
    .lapBoard__info__text {
        width: 90%;
    }
    .lapBoard_info__inner {
        justify-content: center;
    }
    .lapBoard__info__text p:first-child {
        margin: 30px 0 30px 0;
    }
    .lapBoard__info__text p {
        margin: 30px 0 30px 0;
    }
    .equipment {
        border: none;
    }
    .arrowRight {
        display: none;
    }
    .equipment__block2 {
        border: none;
        padding: 0px 10px;
    }
    .equipment__inner {
        flex-direction: column;
    }
    .equipment__block1 {
        padding: 0px 20px;
    }
    .container {
        margin-bottom: 70px;
    }
    .equipment {
        margin: 70px 0 60px 0;
    }
    .vigeoLapboard video {
        width: 90%;
    }
    .opportunities__text {
        width: 90%;
        height: 100%;
        
    }
    .subtitleLapboard__block2 {
        width: 90%;
    }
    .subtitleLapboard__block1 img {
        width: 100%;
    }
    .subtitleLapboard__block1 {
        width: 90%;
    }
  
}


@media(max-width: 770px) {
    .homePageLapboard__subtitle {
        font-size: 20px;
        width: 500px;
    }
}
@media(max-width: 580px) {
    .document__mobile img {
        width: 90px;
        height: 90px;
    }
    .lapBoard__info__text p {
        font-size: 18px;
    }
    .lapBoard__info__text p:first-child {
        font-size: 18px;
    }
    .moneyBlock {
        font-size: 20px;
        width: 100%;
        margin-left: 0;
    }
    .homePageLapboard__img img {
        width: 410px;
        z-index: 90;
        position: relative;
    }
    .container {
        margin-bottom: -285px;
    }
    .lapBoard_info {
        height: 760px;
       
    }
    .lapBoard_info .container {
        padding-top: 20px;
        display: flex;
        align-content: flex-end;
        align-items: flex-end;
        height: 100%;
        background-color: black;
    }
    .vigeoLapboard {
        margin-top: 350px;
        margin-bottom: 100px;
    }
    .subtitleLapboard {
        margin: 30px 0px 350px 0px;
    }
    .opportunities__text {
        border: none;
        padding: 0;
        font-style: italic;
    }
    .subtitleLapboard__block1 {
        display: none;
    }
    .subtitleLapboard__block1_mobile {
        display: block;
    }
    .subtitleLapboard__block1_mobile img {
        width: 100%;
        position: relative;
        z-index: 1;
    }
    .subtitleLapboard__block1_mobile {
        position: relative;
        width: 90%;
    }
    .subtitleLapboard__block2__text {
        display: none;
    }
    .subtitleLapboard__block2__text_mobile {
        position: absolute;
        z-index: 10;
        bottom: 0px;
        backdrop-filter: blur(18.1px);
        background: rgba(255, 255, 255, 0.04);
       
    }
    .subtitleLapboard__block2__text_mobile p {

        width: 100%;
        margin-left: 0;
        color: rgb(255, 255, 255);
        font-family: Raleway;
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 10%;
        text-align: left;
        padding: 0 20px;
    }
    .homePageLapboard__text {
        width: 426px;
    }
    .homePageLapboard__subtitle {
        font-size: 20px;
        width: 410px;
    }
    .btn__form button {
        justify-content: center;
    }
    .form {
        width: 380px;
        height: 600px;
    }
    .homePageLapboard__title {
        font-size: 50px;
    }
    .homePageLapboard__img img {
        box-shadow: -2px 2px 18.2px 0px rgba(255, 255, 255, 0.46);
    }
}
@media(max-width: 450px) {
    .form {
        width: 330px;
    }
    .equipment__block1 p {
        font-size: 28px;

    }
    .form {
        height: 500px;
    }
    ul li {
        font-size: 20px;

    }
    .opportunities__text h3 {
        font-size: 28px;
    }
    .opportunities .opportunities__text p {
        font-size: 20px;
    }
    .homePageLapboard__img img {
        width: 350px;

    }
    .homePageLapboard__text {
        width: 350px;
    }
    .homePageLapboard__subtitle {
        font-size: 20px;
        width: 350px;
    }
    .homePageLapboard__title {
        font-size: 40px;
    }
    .lapBoard_info {
        height: 800px;
    }
}